@import '~antd/dist/antd.css';
* {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;


}
.App {
  text-align: center;
  background-image: linear-gradient(
      to right,
      rgba(255, 0, 0, 0.52),
      rgba(0, 195, 255, 0.73)
    );
  height: 100vh;
}

.card{
  display: flex;
  align-items: center;
  justify-content: center;
}



